:global(.button-row) > button {
  margin: 0 0.5rem;
}

/* Typo */

:global(.typo-list) {
  padding: 0;
  list-style-type: none;
}

:global(.typo-list) > li {
  margin: 0.5rem 0;
}

/* Icons */

:global(.icon-list) {
  background-color: #1f94cb;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  padding: 1rem;
}

:global(.icon-list) > div {
  margin: 0 0.5rem;
  display: inline-flex;
}

/* Table */

:global(.table__wrapper) {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

:global(.table__button) {
  display: inline-flex !important;
  min-width: 0 !important;
  padding: 0.5rem !important;
  margin: 0 0.25rem !important;
  border-radius: 50% !important;
  font-size: 1.5rem !important;
  color: #9ca2a7 !important;
}
