.column,
.cell {
  padding: 1rem 1.875rem;
  border-top: 1px solid var(--grey-offwhite);
}

.column {
  font-size: 0.875rem;
  font-weight: var(--font-weight-regular);
  color: var(--grey-dark);
  text-align: left;
}

.cell {
  font-size: 1rem;
  line-height: 1.5;
}
